/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: Lato, sans-serif;
}
